@{
    ViewData["Title"] = "Service Selection";
}

   <div class="container"> 
<ejs-grid id="Grid" dataSource="@ViewData["services"]" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true" >
   <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
       <e-grid-column field="DateCreated" headerText="Date created" width="180"></e-grid-column>
          <e-grid-column field="ClientID" headerText="Client ID" width="180"></e-grid-column> 
          <e-grid-column field="EmployeeId" headerText="Employee ID" width="360"></e-grid-column> 
          <e-grid-column field="Type" headerText="Service type" width="180"></e-grid-column> 
      </e-grid-columns>
</ejs-grid>
</div>

<script>

    console.log("@ViewData["services"]");
</script>
